.search_line {
	height:28px;
}
.search_line .search_frame_left {
	border:1px solid #CCC;
	border-right:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height:28px;
}
.search_line input, .search_line select {
	width:100%;
	font-size:13px;
	border:none;
	background:none;
	outline:none;
	height:26px;
	line-height:26px;
	display:block;
}
.search_line input.search_query {
	padding-left:15px;
	padding-right:15px;
}
.search_line .search_frame_middle {
	height:28px;
	border:1px solid #CCC;
	border-left:none;
	border-right:none;
}
.search_line .search_frame_middle .section_selector {
	font-size:13px;
	height:26px;
	line-height:26px;
	position:relative;
	color:#999;
	white-space:nowrap;
	overflow:hidden;
}
.search_line .search_frame_middle .section_selector .fade {
	position:absolute;
	z-index:1;
	right:0px;
	top:0px;
	width:70px;
	height:100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.search_line .search_frame_middle .section_selector .arr {
	position:absolute;
	z-index:2;
	right:0px;
	top:0px;
	width:50px;
	height:100%;
	background:url(img/arr.png) left center no-repeat;
}
.search_line .search_frame_middle .section_selector select {
	position:absolute;
	z-index:3;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor:pointer;
}
.search_line input.search_submit {
	background-color:#ff4400;
	color:#FFF;
	cursor:pointer;
	text-align:center;	
	line-height:24px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height:28px;
}
.search_line input.search_submit:hover {
	background-color:#000;	
}