@media only screen and (min-width: 641px) {
	.index_page_reviews {
		margin-left:-20px;
		margin-right:-20px;
	}
	.index_page_reviews .item {
		margin-left:20px;
		margin-right:20px;
	}
}
.index_page_reviews .item .review {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#FFF;
	padding:20px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:12px;
	color:#333;
	position:relative;
}
.index_page_reviews .item .review .tail {
	position:absolute;
	left:0px;
	bottom:-18px;
	width:18px;
	height:25px;
	background:url(img/tail.png);	
}
.index_page_reviews .item .descr {
	margin-left:30px;
	font-size:12px;
	color:#999;
	padding-top:10px;
}