.basket {
	position:relative;
}
.basket .loading {
	display:none; /*shown in js event*/
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	background-image:url(img/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.basket .order_items {
	border:1px solid #EEE;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:15px;
}
.basket .order_items .item {	
}
.basket .order_items .item .item_name {
	font-size:14px;
}
.basket .order_items .item .item_params {
	font-size:12px;
	color:#999;	
}
.basket .order_items .item .price {
	font-size:24px;
	line-height:25px;
	white-space:nowrap;
}
.basket .order_items .item .quantity {
	height:25px;
	padding-left:10px;
	line-height:25px;
	border:none;
	background:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#EEE;
	width:100%;
	font-size:15px;
}
.basket .order_items .item .unit {
	line-height:25px;
	font-size:18px;	
}
.basket .order_items .item .delete {
	display:inline-block;
	width:25px;
	height:25px;
	background:url(img/delete.png) center center no-repeat;
	filter: alpha(opacity=50);
	opacity: 0.5;	
}
.basket .order_items .item .delete:hover, .basket .order_items .item .delete:active {
	filter: alpha(opacity=100);
	opacity: 1;	
}
.basket .order_items_summary {
	background:#EEE;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height:50px;
	padding-left:15px;
	padding-right:15px;
}
.basket .order_items_summary a.coupon_toggle {
	border-bottom:1px dotted #ff4400;
	text-decoration:none;	
}
.basket .order_items_summary .coupon_input.hidden {
	display:none;	
}
.basket .order_items_summary .coupon_input input {
	vertical-align:middle;
}
.basket .order_items_summary .coupon_input input[type="text"] {
	border:1px solid #FFF;
	width:50%;
}
.basket .order_items_summary .summary_title {
	font-size:24px;
	color:#999;
}
.basket .order_items_summary .summary_price {
	font-size:24px;
}