.ajax_paging_loading {
	position:relative;
	opacity:0;
}
.ajax_paging_loading .loading {
	position:absolute;
	z-index:9999;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	background-image:url(img/loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}