.side_menu {
    /*
	padding-top:10px;
    */
	padding-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#EEE;
}
.side_menu a {
	display:block;
	font-size:14px;
	padding:10px;
	padding-left:20px;
	padding-right:25px;
}
.side_menu a.current {
	color:#000;
	background:url(img/arr.png) right center no-repeat;
	text-decoration:none !important;
}