ul.breadcrumb {
	width: 1000%;
    padding: 0;
    margin: 0;
	font-family: 'Proxima Nova', sans-serif;
	filter: alpha(opacity=25);
	opacity: 0.25;
    font-size: 17px;
    font-weight: bold;
}

ul.breadcrumb img {
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
}
ul.breadcrumb a {
	text-decoration:none !important;
	color:#000;	
}

ul.breadcrumb li {
    /*filter: alpha(opacity=50);*/
    /*opacity: 0.5;*/
    display: inline;
	float: left;
}

