.my_orders {
}
.my_orders span.tracking_number {
	display:inline-block;
	padding-left:7px;
	padding-right:7px;
	line-height:24px;
	height:22px;
	background:#EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left:3px;
	margin-right:3px;
}
.my_orders span.times {
	color:#CCC;	
}
.my_orders .total {
	padding-top:10px;
	line-height:25px;
}
.my_orders .total a.reorder {
	display:inline-block;
	padding-left:27px;
	padding-right:10px;
	height:25px;
	line-height:26px;
	font-size:12px;
	color:#FFF;
	background:#ff4400;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none !important;
	background-image:url(img/reorder.png);
	background-position:10px center;
	background-repeat:no-repeat;
}
.my_orders .total a.reorder:hover, .my_orders .total a.reorder:active {
	background-color:#000;	
}